@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../static/fonts/GTEestiProText-Bold.ttf');
}

$colorT: #212121;

body {
    height: fit-content;
  margin: 0;
  padding: 0;
  font-family: 'GT Eesti Pro', sans-serif;
  position: relative;
}

.img-con{
    width: 100%;
    object-fit: contain;
}

.img-cov{
    width: 100%;
    object-fit: cover;
}

.common{
  width: 1560px;
  margin: 0 auto;
}

.innerContent{
    width: 1160px;
    margin: 0 auto;
}

.innerP{

    .topContainer{
        height: fit-content;
    }
}

.ml-0{
    margin-left: 0 !important;
}
.df-cen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dfc-cen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainInp{
    width: 100%;
    height: 64px;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 8px;

    &:hover{
        border: 1px solid #03a39d;
    }

    &:focus{
        outline: none;
        border-color: #03a39d;
        box-shadow: 0 0 0 1px rgba(24, 255, 144, 0.2);
    }
}

.backGP{
    width: 44px;
    height: 44px;
    background: #03a39d;
    border-radius: 8px;
    font-size: 1.5rem;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.titleT{
    font-size: 2.5rem;
    line-height: 46px;
    font-weight: 500;
    text-align: center;
    color: #212121;
    margin: 0;
}

.mainT{
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 46px;
    color: $colorT;
    margin: 0;
}

.titleP{
    font-size: 2rem;
    line-height: 140%;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.mainP{
    font-size: 1.35rem;
    line-height: 26px;
    font-weight: 500;
    color: #212121;
    margin: 0;
}

.commonT{
    font-size: 3.15rem;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
}

.descGr{
    font-size: 1.25rem;
    line-height: 23px;
    font-weight: 400;
    color: #898989;
}

.commonP{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 140%;
    color: #212121;
    margin: 0;
}

.miniP{
    font-size: 1.15rem;
    line-height: 140%;
    font-weight: 400;
    margin: 0;
}

.btn{
  width: 290px;
  height: 70px;
  border-radius: 64px;
  cursor: pointer;
}

.travelB{
    width: 100%;
    height: 64px;
    border-radius: 8px;
    background: #03a6a0;
    border: 0;
    color: #fff;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 500;
    cursor: pointer;

    &:hover{
        background: #fff;
        color: #03a6a0;
        border: 1px solid #03a6a0;
    }
}

.travelBB{
    width: 499px;
    height: 60px;
    border: 1px solid #03a6a0;
    border-radius: 8px;
    background: #fff;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 500;
    color: #03a6a0;
    cursor: pointer;
}

.dBtn{
    width: 100%;
    height: 64px;
    border: 1px solid #03a6a0;
    background: #fff;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 500;
    color: #03a6a0;
    border-radius: 8px;

    &:hover{
        background: #03a6a0;
        color: #fff;
        border: 0;
    }
}

.planshRow{
    display: none;
}

.mt-8{
    margin-top: 80px;
}

.mt-6{
    margin-top: 60px;
}




@media screen and (max-width: 1560px) and (min-width: 960px) {
    .planshRow{
        display: block;
    }

    .descRow{
        display: none;
    }
  .common{
    width: 920px !important;
  }

  .mainInp{
    height: 48px;
  }

  .innerContent{
    width: 780px !important;
  }

  .travelB{
    width: 100%;
    height: 42px;
    font-size: 1rem !important;
}

.travelBB{
    width: 399px !important;
    height: 50px !important;
}

.dBtn{
    height: 42px;
    font-size: 1rem !important;
}

  .btn{
    width: 210px !important;
    height: 60px !important;
  }
    .maxW{
        max-width: 920px !important;
    }

    .titleP{
        font-size: 1.25rem !important;
    }

    .mainP{
        font-size: 1.15rem !important;
    }
    .descGr{
        font-size: 1rem !important;
    }

    .commonP{
        font-size: 1rem !important;
    }
    .miniP{
        font-size: 1rem !important;
    }
    
}

@media screen and (max-width: 960px) {

    .common{
        width: calc(100% - 24px) !important;
    }
    .maxW{
        max-width: calc(100% - 24px) !important;
    }

    .commonT{
        font-size: 2.25rem !important;
    }

    .commonP{
        font-size: 1rem !important;
    }
}